//Globals
$mobile-width: 667px;
$theme-primary: #19aae0;
$theme-secondary: #f6f6f6;
$font-family-sans-serif: Montserrat, system-ui, Arial, sans-serif;
$site-padding: 60px 50px;
$site-padding-mobile: 60px 25px;

// Navigation Bootstrap
$navbar-dark-color: rgba(white, 1);
$navbar-dark-hover-color: rgba($theme-primary, 1);
$navbar-dark-toggler-border-color: rgba(0,0,0,0);


// List Groups bootsrap
$list-group-border-width: 0px;
$list-group-item-padding-y: 2px;
$list-group-item-padding-x: 0px;
$list-group-bg: $theme-secondary;

// Modals bootstrap
$modal-backdrop-opacity: .9;
$modal-dialog-margin: 3rem;
$modal-content-bg: rgba(255,255,255,.9);
$modal-content-color: black;

// Carousel bootstrap
$carousel-control-color: $theme-primary;
$carousel-control-icon-width: 3rem;
$carousel-control-opacity: .1;
$carousel-control-hover-opacity: .8;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.nav-link {
	letter-spacing: 2px;
	@extend .px-2;

	&:hover {
		background-color: $theme-secondary;
	}
}

.bg-theme {
	background-color: $theme-primary !important;
}

.footer-icon {
	color: $theme-primary;
	font-size: 2rem;
}

.welcome-img {
	width: 50vw;
	height: auto;
	@media screen and (max-width: $mobile-width) {
		width: 75vw;
	}
}

.section {
	padding: $site-padding;
	background-color: $theme-secondary;
	border-bottom: 1px solid rgba($theme-primary, .4);
	@media screen and (max-width: $mobile-width) {
		padding: $site-padding-mobile;
	}
}

h3, h4 {
	@extend .my-3;
}

h5 {
	font-weight: 400;
	@extend .mb-3;
}

.list-group-item > h5 {
	@extend .mb-0;
}

#welcome {
	color: white;
	padding: $site-padding;
	@extend .mb-0;
}

body {
	min-height: 100vh;
	background-color: $theme-secondary;
	transition: color 0.5s, background-color 0.5s;
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

iframe {
	width: 75%;
	height: 480px;
}

#onload .carousel-item {
	cursor: pointer;
}


//Project Tiles
.prj{
	position: relative;
	max-width: 250px;
	max-height: 250px;
	@extend .mx-auto;
	@extend .mb-3;

	img {
		-webkit-transition: opacity .75s ease-in-out;
		-moz-transition: opacity .75s ease-in-out;
		-o-transition: opacity .75s ease-in-out;
		transition: opacity .75s ease-in-out;
		-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
		box-shadow: 0 1px 2px rgba(0, 5, 0, .075);
		@extend .w-100;
		@extend .h-100;
	
		&.normal {
			position: relative;
		}

		&.onhover {
			opacity: 0;
			position: absolute;
			top: 0px;
			left: 0px;
		}
	}

	&:hover > img.onhover {
		opacity: 1;
	}
}


//Loading Spinners

@for $i from 6 through 15 {
	$border-width: #{$i * 0.05}rem;

	.spinner-#{$i} {
		width: #{$i}rem;
		height: #{$i}rem;
		border-width: $border-width;
	}
}