@import "bootstrap/scss/bootstrap";


#app {
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

body {
	background-color: skyblue;
}

.navbar {
	background-color: #19aae0;
	opacity: 1;
	color: white;
}